.App {
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  background-color: red;
}

.ini {
  background-color: #39b1e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}

.forma {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  display: nones;
}

.header {
  border-bottom: 5px solid;
  background-color: aqua;
}

.menu {
}

.formulario {
  background-color: #39b1e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}
.formulario label {
  display: flex;
  flex-direction: column;
}

.f {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  display: none;
}

.tab {
  background-color: #39b1e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  display: none;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ddd; /* Borde alrededor de la tabla */
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}
.table td {
  background-color: #f9f9f9;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table td[colspan] {
  background-color: #d3d3d3;
}

/* Borde adicional en las celdas */
.table th,
.table td {
  border: 1px solid #ddd;
}
