.App {
  font-family: sans-serif;
  text-align: center;
  align-items: center;
}

.ini {
  background-color: #39b1e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}

.forma {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.header {
  border-bottom: 5px solid;
  background-color: aqua;
}

.formulario {
  background-color: #39b1e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}

.f {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.tab {
  background-color: #39b1e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}
